form {
    flex: 1;
}

form>div {
    flex: 1;
    display: flex;
    flex-direction: row;
}

form>div>div {
    display: flex;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.buttons-container button {
    flex: 1;
    display: flex;
}

.main-input-container {
    flex-direction: column;
}

.issue-container,
.firm-container {
    display: flex;
    flex-direction: row;
}